*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body{
	background-color: #e25164;
	font-family: 'Raleway', sans-serif;
	color: white;
	z-index: -11;
}

nav{
	width: 25%;
	float: left;
	height: 100vh;
	display: inline-block;
	/*position: relative;*/
}

hr{
	z-index: 200;
	width: 20%;
	margin: 0 auto;
	border: none;
	height: 2px;
	background-color: white;
	margin-bottom: 10px;
	margin-top: 10px;
}

#navContainer{
	text-align: center;
	width: 100%;
}

#navLabel{
	font-size: 1.2em;
	font-weight: 500;
	letter-spacing: 4px;
	margin-bottom: 10px;
	margin-top: 150px;
}

.navNameContainer{
	display: inline-block;
	width: 80%;
}

#navFixedBackground{
	position: fixed;
	background-color: #db2940;
	width: 25%;
	height: 100vh;
	z-index: -2;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4); 
}

#contentContainer{
	width: 75%;
	float: right;
	height: 100vh;
	position: fixed;
	right: 0;
	top: 0;
}

#detailsOverlay{
	width: 100%;
	height: 0%;
	transition-duration: 700ms;
	overflow: hidden;
	background-color: #ec3448;
	z-index: -5;
}

h2{
	letter-spacing: 4px;
	font-weight: 500;
	font-size: 1.4em;
	text-transform: uppercase;
}

ul{
	list-style-type: none;
}

li{
	text-decoration: none;
}

a{
	color: inherit;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

h1{
	font-weight: 400;
	font-size: 3em;
	margin-bottom: 10px;
	text-align: center;
}


#nameList{
	padding-bottom: 50px;
}

.listName{
	font-size: 1.1em;
	letter-spacing: 5px;
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;
	z-index: 3;
	cursor: pointer;
	transition-duration: 300ms;
	text-transform: uppercase;
}

.listName:hover{
	background-color: #e97f8c;
}

#logoContainer{
	padding-top: 30px;
	padding-bottom: 10px;
	top: 0;
	position: fixed;
	width: 25%;
	margin-bottom: 50px;
	background-color: #db2940;
	z-index: 200;
}

#logo{
	max-width: 180px;
	cursor: pointer;
}

#logo:hover{
	opacity: 0.7
}


.navHoverBlock{
	opacity: 0.9;
	height: 100%;
	width: 0px;
	position: absolute;
	display: inline-block;
	top: 0;
	left: 0;
	z-index: -1;
	background-color: white;
	transition-duration: 400ms;
}

.button{
	color: white;
	text-align: center;
	width: 200px;
	margin: 0 auto;
	padding: 10px 0px 10px 0px;
	border-radius: 4px;
	border: 2px solid white;
	letter-spacing: 2px;
	margin-bottom: 50px;
	cursor: pointer;
	transition-duration: 300ms;
	position: relative;
	overflow: hidden;
}

.buttonHoverBlock{
	position: absolute;
	height: 100%;
	width: 0px;
	background-color: white;
	top: 0;
	left: 0;
	transition-duration: 300ms;
	z-index: -1;
}

#closeButtonContainer{
	margin-bottom: 50px;
	/*display: inline-block;*/
	text-align: center;
	clear: both;
	border-radius: 100%;
	transition-duration: 300ms;
}

#closeButton{
	cursor: pointer;
	max-width: 25px;
	height: auto;
	transition-duration: 300ms;
}

#closeButton:hover{
	max-width: 28px;
	opacity: 0.5;
	margin-bottom: -15px;
}

#details{
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

#placeName{
	font-size: 3.2em;
	letter-spacing: 7px;
	margin-right: -7px;
	margin-left: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
	clear: both;
	display: inline-block;
	font-weight: 600;
	text-transform: uppercase;
}

#placeAbout{
	width: 70%;
	font-size: 1.2em;
	margin: 0 auto;
	font-weight: 300;
	margin-bottom: 20px;
	letter-spacing: 1px;
	clear: both;
}

#placeImage{
	width: 100px;
	height: 100px;
	border-radius: 100%;
	background-color: white;
	margin: 0 auto;
	overflow: hidden;
}

#placeAddress{
	width: 33%;
	margin-top: 20px;
	display: inline-block;
	/*padding: 40px;*/
	letter-spacing: 3px;
	font-size: 1.5em;
}

#placePhone{
	width: 33%;
	margin-top: 20px;
	display: inline-block;
	/*padding: 40px;*/
	letter-spacing: 3px;
	font-size: 1.5em;
}

#placeRating{
	width: 33%;
	margin-top: 20px;
	font-size: 1.4em;
	display: inline-block;
	letter-spacing: 3px;
}

#placeWebsite{
	width: 100%;
	text-align: center;
	letter-spacing: 1px;
	margin-top: 50px;
}

#placePrice{
	font-size: 1.4em;
	display: inline-block;
	letter-spacing: 3px;	
}

#studentChoices{
	margin-top: 150px;
	display: none;
}

#studentImage{
	width: 140px;
	height: 140px;
	padding: 10px;
	background-color: white;
	overflow: hidden;
	border-radius: 100%;
}

#studentName{
	margin-top: 10px;
	margin-bottom: 20px;
}

#map{
	position:absolute;
	width:100%;
	height:100%;
	background-color:#333;
}



.detailLabel{
	letter-spacing: 3px;
	font-size: 1.1em;
}

#goBackButton{
	margin-top: 80px;
	transition-duration: 400;
}

.largeName{
	font-size: 2.5em !important;
}